/* ==========================================================================
   Base Styles
   ========================================================================== */

* {
	margin: 0;
	padding: 0;
}


// Remove these centering styles and get started

html, body {
	height: 100%;
}

.container {
	display: table;
	height: 90%;
	padding-bottom: 70px;
	.centered {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		ul {
			list-style: none;
		}
	}
}



