/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
	font-family: 'myriad';
	src: url('../assets/fonts/myriadpro-regular.eot'); /* IE9 Compat Modes */
	src: url('../assets/fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     url('../assets/fonts/myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
	     url('../assets/fonts/myriadpro-regular.woff') format('woff'), /* Pretty Modern Browsers */
	     url('../assets/fonts/myriadpro-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('../assets/fonts/myriadpro-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}




