/* ==========================================================================
   Variables
   ========================================================================== */

$primary-color: #60B99A;
$secondary-color: #fff;

$body-font-color: #222;

$header-color: #fff;

$btn-primary: #F77825;
$btn-secondary: #554236;




