---
title: "Detail"
layout: default.hbs
---


<div class="container">
    <div class="centered">
        <h1>This is a secondary page</h1>
        <h3>You can link to this page</h3>
        <a href="index.html" class="btn btn-secondary">Home Page</a>
    </div>
</div>