---
title: "Welcome"
posted: 2015-03-03
---


<div class="container">
    <div class="centered">
        <h1>This is a quick launch site</h1>
        <p>Just a little pre-prepared setup to help you get off the ground with barebones scaffold</p>
        <h3>It has:</h3>
        <ul>
            <li>SASS</li>
            <li>Live Reload</li>
            <li>Static HTML5 Boilerplate</li>
            <li>jQuery</li>
            <li>Bootstrap CDN</li>
            <li>Angular</li>
            <li>Modernizer</li>
        </ul>
    </div>
</div>